body{
    font-family: arial;
    margin: 0;
    font-size: 25px;
    background: gray;
}


.newsletter-wrapper{
    background: url(https://preview.redd.it/bof9wkwei2t51.jpg?width=640&crop=smart&auto=webp&s=c3991548362d5f8fc6853905de60c605d9c62f5b);
    background-size: contain;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.newsletter-box{
    background: #2c4052;
    padding: 100px 50px;
    border-radius: 50px 0 0 50px;
    color: rgb(237, 205, 163);

}

.newsletter-box h1{
    font-size: 30px;
    margin: 0 0 20px;
 
}
.newsletter-box p{
    font-size: 20px;
    margin: 0 0 30px;
}
.newsletter-box input[type="text"]{
    width: calc(100% - 100px);
    height: 50px;
    float: left;
    font-family: 'Franklin Gothic Medium';
    font-size: 18px;
    color:rgb(16, 62, 103);
    padding:12px 10px;
    border: 2px silver;
    border-radius: 8px 0 0 8px;
    transition: all 0.4s ease-in-out;
    margin: 0 0 10px;
    background: black;
}
.newsletter-box input[type="text"]:focus{
    border-color:rgb(95, 62, 12);
}
.newsletter-box select{
    width: calc(100% - 100px);
    height: 50px;
    float: left;
    font-family: 'Franklin Gothic Medium';
    font-size: 18px;
    color:rgb(53, 58, 62);
    padding: 12px 10px;
    border: 2px silver;
    border-radius: 8px 0 0 8px;
    transition: all 0.4s ease-in-out;
    margin: 0 0 10px;
    background: black;
}  
.newsletter-box input[type="text"]:focus{
    border-color:rgb(95, 62, 12);
}
.newsletter-box select{
    width: calc(100% - 100px);
    height: 50px;
    float: left;
    font-family: 'Franklin Gothic Medium';
    font-size: 18px;
    color:rgb(53, 58, 62);
    padding: 12px 10px;
    border: 2px silver;
    border-radius: 8px 0 0 8px;
    transition: all 0.4s ease-in-out;
    margin: 0 0 10px;
    background: black;
}  
.newsletter-box label{
    font-size: 15px;
    color: black;
    margin: 0 0 10px;
    display: block;
}
.newsletter-box input[type="submit"]{
width: calc(150px);
    height: 50px;
    font-family: 'Franklin Gothic Medium';
    font-size: 15px;
    position: down;
    font-weight: 500;
    float: left;
    color:rgb(41, 67, 17);
    padding: 15px 15px;
    border: 2px silver;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
    background:  rgb(237, 205, 163);
    margin-top: 15px;
}
.newsletter-box input[type="submit"]:hover{
    background: rgb(200, 236, 204);
    color:rgb(59, 35, 4);




}




.newsletter-wrapper{
    align-items: center;
    justify-content: center;
    padding: 20px;




}




.newsletter-box{
    padding: 50px;
    border-radius: 30px;
    width: 50%;
    text-align: left;
}




form {
    width: 80%;
    display: flex;
    flex-direction: column;
}


.option {
    display: flex;
    flex-direction: column;
}


.option label {
    color: rgb(237, 205, 163);
    font-size: 15px;
    font-weight: bold;
}


@media (max-width: 767px) {
.newsletter-box {
    display: flex;
    flex-direction: column;
}
.newsletter-box input[type="text"],
.newsletter-box select {
    width: 100%;
}
}
